{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>HomeCooked Food Ordering System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            e0001 - Delivery Driver
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Delivery Menu(Update Delivery Status, Accept Delivery Request)
        </p>
        <p>
            Delivery Driver Registration
        </p>
    </div>
</div>

{% endblock %}
